<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <!-- <h4 class="hidden"><span id="js-rotating">Work In Progress</span></h4>  -->
  </div>
  <div class="user-content">
    <p>Aspiring Learner. Trying to make life easier through mod and deriving solutions with coding.</p>
    <p></p>
  </div>
</div>
